{% extends 'nav.html' %}

{% block content %}

<!-- Header -->

<div class="container-fluid text-center row align-items-center justify-content-center" id="header-parent">
    <div class="col-12 col-lg-3 image-containers">
        <img src="../../static/images/xbox_picture.jpg" class="landing-images" alt="ps2 and some games">
    </div>
    <div class="col-12 col-lg-3 image-containers">
        <img src="../../static/images/tetris_picture.jpg" class="landing-images" alt="ps2 and some games">
    </div>
    <div class="col-12 col-lg-6 text-center" id="right-text-box">
        Welcome to the entire history of your gaming 
        career.  Be sure to create an account and
        start adding to your collection as soon
        as you login.  Add games from any time
        period in your life.
    </div>
</div>

<!-- Main Section -->

<div class="container-fluid row justify-content-center align-items-center" id="main-parent">
    <div class="col-12 col-sm-8 main-image-parent">
        <img src="../../static/images/controllers_picture.jpg" alt="two people holding controllers" id="main-image">
    </div>
</div>





{% endblock content %}